/* Box border animation */
/* :root {
	--transition-duration: 500ms;
	--first-delay: 500ms;
	--box-width: 16rem;
	--box-height: 9rem;
}

.box-border-animated {
	@apply relative;
	width: var(--box-width);
	height: var(--box-height);
}
.box-border-animated::before {
	@apply absolute w-0 h-0_125 border-t-2 border-r-2 border-primary-300 -top-0 -left-0;
	content: '';
	transition: width calc(var(--transition-duration)) ease
		calc(var(--transition-duration) * 0 + var(--first-delay));
}
.box-border-animated::after {
	@apply absolute w-0_125 h-0 border-r-2 border-primary-300 -top-0 -right-0;
	content: '';
	transition: height calc(var(--transition-duration)) ease
		calc(var(--transition-duration) * 1 + var(--first-delay));
}
.box-border-inner-animated::before {
	@apply absolute w-0 h-0_125 border-b-2 border-primary-300 -bottom-0 -right-0;
	content: '';
	transition: width calc(var(--transition-duration)) ease
		calc(var(--transition-duration) * 2 + var(--first-delay));
}
.box-border-inner-animated::after {
	@apply absolute w-0_125 h-0 border-l-2 border-primary-300 -bottom-0 -left-0;
	content: '';
	transition: height calc(var(--transition-duration)) ease
		calc(var(--transition-duration) * 3 + var(--first-delay));
}

.rendered::before {
	width: var(--box-width);
}
.rendered::after {
	height: var(--box-height);
}
.rendered-inner::before {
	width: var(--box-width);
}
.rendered-inner::after {
	height: var(--box-height);
} */

/** Bar animation */
.bar_wrapper {
	--transition-duration: 1000ms;
	--first-delay: 250ms;
	--second-delay: 650ms;
	--bar-width: 24rem;
	--bar-height: 9rem;
	--upper-bar-width: 12rem;
	@apply container-lg flexcol-c-c;
}

.bar_container {
	@apply overflow-hidden;
	width: var(--bar-width);
	height: var(--bar-height);
}

.bar_upper {
	@apply relative h-1/3 bg-bg-700 flex-c-c overflow-hidden;
	width: var(--upper-bar-width);
	transform: translateX(-100%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--first-delay) + calc(var(--transition-duration) / 2));
}
.bar_upper::before {
	@apply absolute inset-0 bg-white;
	transform: translateX(-100%);
	content: '';
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--first-delay) + calc(var(--transition-duration) / 3));
}
.bar_upperText {
	@apply text-24 w-full text-left text-white px-1 z-1 translate-x-32 opacity-0;
	transition: all calc(var(--transition-duration) / 2)
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--first-delay) + calc(var(--transition-duration) / 5));
}
.bar_upper::after {
	@apply absolute inset-0 bg-primary;
	transform: translateX(-100%);
	content: '';
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01) calc(var(--first-delay));
}

/* Opened transition styles upper bar */
.bar_upper-opened {
	transform: translateX(0%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01) calc(var(--first-delay));
}
.bar_upper-opened::before {
	transform: translateX(0%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--first-delay) + calc(var(--transition-duration) / 5));
}
.bar_upperText-opened {
	@apply translate-x-0 opacity-100;
	transition: all calc(var(--transition-duration) / 2)
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--first-delay) + calc(var(--transition-duration) / 2));
}
.bar_upper-opened::after {
	transform: translateX(0%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--first-delay) + calc(var(--transition-duration) / 3));
}

.bar_lower {
	@apply relative h-2/3 w-full bg-primary flex-c-c overflow-hidden;
	transform: translateX(-100%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--second-delay) + calc(var(--transition-duration) / 2));
}
.bar_lower::before {
	@apply absolute inset-0 bg-white;
	transform: translateX(-100%);
	content: '';
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--second-delay) + calc(var(--transition-duration) / 3));
}
.bar_lowerText {
	@apply text-34 w-full text-left font-semibold text-white px-1 z-1 translate-x-32 opacity-0 truncate;
	transition: all calc(var(--transition-duration) / 2)
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--second-delay) + calc(var(--transition-duration) / 5));
}
.bar_lower::after {
	@apply absolute inset-0 bg-bg-700;
	transform: translateX(-100%);
	content: '';
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01) calc(var(--second-delay));
}

/* Opened transition styles lower bar */
.bar_lower-opened {
	transform: translateX(0%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01) calc(var(--second-delay));
}
.bar_lower-opened::before {
	transform: translateX(0%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--second-delay) + calc(var(--transition-duration) / 5));
}
.bar_lowerText-opened {
	@apply translate-x-0 opacity-100;
	transition: all calc(var(--transition-duration) / 2)
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--second-delay) + calc(var(--transition-duration) / 2));
}
.bar_lower-opened::after {
	transform: translateX(0%);
	transition: transform calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--second-delay) + calc(var(--transition-duration) / 3));
}

.bar_message {
	@apply mt-1 text-white opacity-0;
	width: var(--bar-width);
	transition: opacity calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01)
		calc(var(--second-delay) + calc(var(--transition-duration) / 2));
}

.bar_message-opened {
	@apply opacity-100;
	transition: opacity calc(var(--transition-duration))
		cubic-bezier(0.9, 0.01, 0.46, 1.01) calc(var(--second-delay));
}
