.alertbox {
	@apply fixed bottom-24 left-2/4 right-2/4 w-30 flex flex-wrap;
	margin-left: -30rem;
}

.message-alertbox {
	@apply mt-1_5 text-20 font-bold relative text-red-400;
	font-family: 'Montserrat', sans-serif;
}

.username-message-alertbox {
	@apply relative inline-block uppercase text-24;
	animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-20px);
	}
	40% {
		transform: translateY(0px);
	}
}
